---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 23 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
	¡Hola! Soy Brandon, pero en la web me conocen como UnCompa. A mis 17 años, estoy sumergido en el fascinante mundo de la programación, donde cada día descubro algo nuevo y emocionante en este vasto campo.
  </p>
  
  <p>
	Originario de Quito, Ecuador, he vivido una vida llena de experiencias enriquecedoras y, a pesar de las complicaciones, siempre busco maneras de mejorar y crecer. Soy una persona sencilla que valora la autenticidad y la conexión genuina con los demás.
  </p>
  
  <p>
	Mi pasión por la programación no solo me impulsa a aprender constantemente, sino que también me permite explorar mi creatividad y resolver desafíos intrigantes. Además, encuentro una gran satisfacción en la música, especialmente en géneros como la electrónica y el phonk, donde los sonidos rítmicos me transportan a otro nivel.
  </p>
  
  <p>
	Cuando no estoy inmerso en líneas de código, me encontrarás en la cancha de baloncesto, donde el juego fluido y la competencia saludable me brindan una sensación única de alegría. Soy amigable y disfruto haciendo nuevas conexiones, así que no dudes en acercarte y compartir tus propias experiencias y pasiones.
  </p>
  
  <p>
	En resumen, mi vida está marcada por el aprendizaje constante, la pasión por la programación, la conexión con la música y el amor por el baloncesto. Estoy emocionado por lo que el futuro me depara y ansioso por seguir creciendo en cada aspecto de mi vida. ¡Conéctate y descubre más sobre mi viaje! ✨🚀
  </p>
  
</Layout>
